
h1.landing-title {
  font-size: 3rem;
  color: #fff;
  text-align: center;
  line-height: 3rem;
  margin-top: 5rem;
  position: relative;
  padding-bottom: 1.5rem;
  span {
    display: block;
  }
  &:after {
    content: "";
    background: $yellow;
    width: 100px;
    height: 3px;
    position: absolute;
    left: 0; right: 0; bottom: 0;
    margin: auto;
  }
}

h3.occupation {
  font-size: 1rem;
  color: #fff;
  text-align: center;
  display: block;
  margin: 1.5rem 0;
}
