// Set colors
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;
$yellow: #E3C681;

// Bulma's global variables
$family-sans-serif: 'Roboto', sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$white-opaq: rgba(255,255,255,.15);
$primary: $yellow;
$link: $yellow;
$white: #fff;
$half-white: rgba(255,255,255,.5);

// Update Bulma's variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$border-radius: 12px;

.primary-color {
  color: $yellow;
}

.primary-bg {
  background: $yellow;
}

// Import Bulma
@import '../node_modules/bulma/bulma.sass';

// global styles
@import './styles/utils';
@import './styles/header';
@import './styles/buttons';
@import './styles/forms';
@import './styles/backgrounds';
@import './styles/landing';
@import './styles/artist';
